<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>점심 기록</title>
        <link href="../css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <style>
            .container {
                max-height: 600px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <h2>점심 기록 목록</h2>
            </div>
            <hr class="my-4">
            <table class="table">
                <thead>
                    <th>id</th>
                    <th>restaurant</th>
                    <th>menu</th>
                    <th>image</th>
                    <th>price</th>
                    <th>grade</th>
                    <th>averageGrade</th>
                    <th>updateAt</th>
                    <th>createAt</th>
                </thead>
                <tbody>
                    <tr th:each="lunchRecord : ${lunchRecords}">
                        <td th:text="${lunchRecord.id}"></td>
                        <td th:text="${lunchRecord.restaurant}"></td>
                        <td th:text="${lunchRecord.menu}"></td>
                        <td> <img th:src="'data:image/png;base64,'+${lunchRecord.image}"/> </td>
                        <td th:text="${lunchRecord.price}"></td>
                        <td th:text="${lunchRecord.grade}"></td>
                        <td th:text="${lunchRecord.averageGrade}"></td>
                        <td th:text="${lunchRecord.updateAt}"></td>
                        <td th:text="${lunchRecord.createAt}"></td>
                        <td>
                            <div class="row">
                                <div class="col-5">
                                    <button class="btn btn-primary"
                                            th:onclick="|location.href='@{/springmvc/lunchRecords/edit?id={id}(id=${lunchRecord.id})}'|">수정</button>
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-primary"
                                            th:onclick="|location.href='@{/springmvc/lunchRecords/delete?id={id}(id=${lunchRecord.id})}'|">삭제</button>
                                </div>
                            </div>
                        </td>
<!--                        <td> <a href="/springmvc/lunchRecords/edit?id=${lunchRecord.id}"-->
<!--                                th:href="@{|/springmvc/lunchRecords/edit?id=${lunchRecord.id}|}">수정</a> </td>-->
<!--                        <td> <a href="/springmvc/lunchRecords/delete?id=${lunchRecord.id}"-->
<!--                                th:href="@{|/springmvc/lunchRecords/delete?id=${lunchRecord.id}|}">삭제</a> </td>-->
                    </tr>
                </tbody>

            </table>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary"
                            th:onclick="|location.href='@{/springmvc/lunchRecords/new}'|">저장</button>
                </div>
            </div>
        </div>
    </body>
</html>